{% extends "inicio/homepage.html" %} {% block content %}

<div class="container mt-5 mb-5">
  <div class="d-flex justify-content-between align-items-center">
    <h2>Mensajes recibidos</h2>
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#enviarMensajeModal"
    >
      Enviar nuevo mensaje
    </button>

    <a href="{% url 'mensajes_enviados' %}" class="btn btn-secondary">
      Mensajes enviados
    </a>
  </div>

  {% if mensajes %}
  <ul class="list-group mt-4">
    {% for mensaje in mensajes %}
    <li
      class="list-group-item {% if not mensaje.leido %}list-group-item-warning{% endif %}"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">De: {{ mensaje.emisor.username }}</h5>

        <small class="text-muted"
          >{{ mensaje.fecha_enviado|date:"d M, Y H:i" }}</small
        >
      </div>
      <div class="d-flex align-items-center">
        <a
          href="{% url 'eliminar_mensaje' mensaje.id %}"
          class="text-danger mr-2"
          title="Eliminar mensaje"
        >
          <i class="fas fa-times"></i>
        </a>
      </div>

      <p class="mb-1">{{ mensaje.contenido|truncatewords:20 }}</p>
      {% if not mensaje.leido %}
      <span class="badge bg-warning text-dark">Nuevo</span>
      {% endif %}
      <div class="mt-2 d-flex justify-content-end">
        {% if mensaje.emisor %}

        <button
          type="button"
          class="btn btn-sm btn-outline-primary"
          data-bs-toggle="modal"
          data-bs-target="#responderMensajeModal-{{ mensaje.id }}"
        >
          Responder
        </button>
        {% else %}
        <small class="text-muted"
          >El usuario no existe o ha desactivado su cuenta.</small
        >
        {% endif %}
      </div>
    </li>

    <!-- Ventana Modal, se abre para responder para al mensaje -->
    <div
      class="modal fade"
      id="responderMensajeModal-{{ mensaje.id }}"
      tabindex="-1"
      aria-labelledby="responderMensajeModalLabel-{{ mensaje.id }}"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5
              class="modal-title"
              id="responderMensajeModalLabel-{{ mensaje.id }}"
            >
              Responder a {{ mensaje.emisor.username }}
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form method="post" action="{% url 'enviar_mensaje' %}">
              {% csrf_token %}

              <!-- Campos ocultos -->
              <input
                type="hidden"
                name="receptor"
                value="{{ mensaje.emisor.id }}"
              />
              {% if mensaje.mensaje_original %}
              <input
                type="hidden"
                name="mensaje_original"
                value="{{ mensaje.mensaje_original.id }}"
              />
              {% else %}
              <input
                type="hidden"
                name="mensaje_original"
                value="{{ mensaje.id }}"
              />
              {% endif %}

              <!-- Mostrar el contenido del mensaje original -->
              <p><strong>Mensaje original:</strong></p>
              <blockquote class="blockquote">
                <p>{{ mensaje.contenido }}</p>
                <footer class="blockquote-footer">
                  {{ mensaje.emisor.username }}, {{ mensaje.fecha_enviado }}
                </footer>
              </blockquote>

              <!-- Campo para escribir la respuesta -->
              <label for="respuesta-{{ mensaje.id }}">Tu respuesta:</label>
              <textarea
                id="respuesta-{{ mensaje.id }}"
                name="contenido"
                class="form-control"
                rows="4"
                required
              ></textarea>

              <button type="submit" class="btn btn-primary mt-3">Enviar</button>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
          </div>
        </div>
      </div>
    </div>

    {% endfor %}
  </ul>
  {% else %}
  <div class="alert alert-info mt-3">Todavía no tienes ningún mensaje.</div>
  {% endif %}
</div>

<!-- Modal para enviar mensaje -->
<div
  class="modal fade"
  id="enviarMensajeModal"
  tabindex="-1"
  aria-labelledby="enviarMensajeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="enviarMensajeModalLabel">
          Enviar nuevo mensaje
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'enviar_mensaje' %}">
          {% csrf_token %} {{ form.as_p }}
          <button type="submit" class="btn btn-primary mt-3">Enviar</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
