{% extends "inicio/homepage.html" %} {% load static %} {% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <div class="text-center">
        {% if profile.profile_image %}
        <img
          src="{{ profile.profile_image.url }}"
          class="rounded-circle"
          width="200"
          height="200"
        />
        {% else %}
        <img
          src="{% static 'img/default_profile.jpg' %}"
          class="rounded-circle"
          width="200"
          height="200"
        />
        {% endif %}
      </div>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group mt-3">
          <input type="file" name="profile_image" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Actualizar Foto</button>
      </form>
    </div>
    <div class="col-md-8">
      <h2>Hola, {{ user.username }}</h2>
      <p><strong>Biografía:</strong> {{ profile.bio }}</p>
    </div>
  </div>
</div>

{% endblock %}
